body {
    background-color: black;
    background-image: url("https://images.unsplash.com/photo-1583151562451-c0672fdeba94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed
}

.about-me {
    text-align: left;
    background-color: white;
    padding-bottom: 20px;
}

.img-responsive {
    max-width: 25%;
    padding-right: 20px;
}

.col-sm-12 {
    padding-right: 50px;
}
