body {
    background-color: #EED7C5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.about-me {
    text-align: left;
    background-color: #C97C5D;
}

.tech {
    background-color: #C89F9C;
    margin-left: 10px;
}

.techDescription {
    color: #EEE2DF;
}

a {
    color: #C97C5D;
}

a:hover {
    color: #B36A5E;
}

.jumbotron {
    background-color: #B36A5E;  
}

p {
    font-family: bookmania, serif;
    font-weight: 400;
    font-style: normal;
    color: #EEE2DF;
}

h3 {
    font-family: bookmania, serif;
    font-weight: 700;
    font-style: normal;
    color: #B36A5E; 
}

h4 {
    font-family: bookmania, serif;
    font-weight: 700;
    font-style: normal; 
    padding-top: 5px;
    color:#B36a5E;
}

h1 {
    font-family: bookmania, serif;
    font-weight: 700;
    font-style: normal;
    color: #EEE2DF;
}

.description {
    color: #C97C5D;
}

.col-12 {
    padding-bottom: 20px;
}

#portfolio-color {
    color: #B36A5E;
}

.img-responsive {
    max-width: 25%;
    padding-right: 20px;
    filter: grayscale(100%);
}

.portfolio {
    padding-bottom: 20px;
    padding-top: 20px;
}

/*custom navbar styling*/

.navbar .navbar-expand-lg .navbar-custom .navbar-toggler {
    font-style: normal;
}

.navbar-custom .navbar-nav .nav-link {
    color: #B36A5E;
    font-family: bookmania, serif;
    font-weight: 400;
    font-style: normal;
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #B36A5E;
}
.navbar-brand {
    color: #B36A5E;
    font-family: bookmania, serif;
    font-weight: 700;
    font-style: normal;
}

.navbar-brand:hover {
    color: #B36A5E;
}

.navbar-custom {
    background-color: transparent;
    margin-bottom: 30px;
}

.custom-toggler .navbar-toggler {
    border-color: rgb(179,106,94);
}

.custom-toggler .navbar-toggler-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(179,106,94, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.form-group, hr {
    color: #C97C5D;
}

.btn{
    background-color: #EEE2DF;
    border: 1px solid  #EEE2DF;
    font-family: bookmania, serif;
    font-weight: 700;
    font-style: normal;
    color: #B36A5E;
}

.contact {
    background-color: #B36A5E;
    font-family: bookmania, serif;
    font-weight: 700;
    font-style: normal;
}

.contact-me {
    background-color: #C89F9C;
    margin-left: 10px;
    margin-right: 10px;
}

i {
    margin: 10px;
    color: #EEE2DF;
}

i:hover {
    color: #EED7C5;
}

footer {
    position: sticky;
    background-color: transparent;
    margin-top:  30px;
}

.footer-text {
    color:#B36A5E;
}

.contact {
    margin-bottom: 20px;
}

.description {
    background-color: fae4dd;
}



